@model LacingAdmin.Web.Models.ViewModels.EquipoComputoViewModel
@using LacingAdmin.Web.Common
@{
    ViewBag.Title = "Equipos de cómputo";
    ViewBag.Panel = true;
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>

    <!-- Plugins -->
    <link href="~/Content/themes/main/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/themes/main/global/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/themes/main/global/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/themes/main/global/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/themes/main/global/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css" rel="stylesheet" />

    <link href="~/Content/themes/main/assets/examples/css/tables/datatable.css" rel="stylesheet" />
    <style>
        .spanVal {
            color: red;
            font-size: 10.5px;
            margin: 2px;
        }

        .form-group {
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body class="animsition site-navbar-small ">
    @if (SecurityHelper.GetAdministradorID() > 0)
    {
        <!-- Page -->
        <div class="page">
            <div class="page-header">
                <h1 class="page-title"><i class="icon fa-building"></i>Equipos de Cómputo</h1>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                        <button onclick="redirectCrearEquipoComputo()" class="btn btn-block btn-success btnAgregar"><i class="icon wb-plus"></i> Agregar Equipo de Cómputo</button>
                    </div>
                </div>
                <br />
                <!-- Panel Listado de Equipos de Cómputo -->
                <div id="listadoEquiposComputo">
                    @Html.Action("ListaEquiposComputoView", "EquipoComputo", new { Area = "" })
                </div>
            </div>
        </div>
        <!-- End Page -->
    }


    @section scriptsAdicionales{
        <!-- Plugins -->
        <script src="~/Content/themes/main/global/vendor/datatables.net/jquery.dataTables.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-scroller/dataTables.scroller.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-buttons/dataTables.buttons.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-buttons/buttons.html5.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-buttons/buttons.flash.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-buttons/buttons.print.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-buttons/buttons.colVis.js"></script>
        <script src="~/Content/themes/main/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
        <script src="~/Content/themes/main/global/vendor/asrange/jquery-asRange.min.js"></script>
        <script src="~/Content/themes/main/global/vendor/bootbox/bootbox.js"></script>

        <!-- Page -->
        <script src="~/Content/themes/main/global/js/Plugin/datatables.js"></script>

        <script src="~/Content/themes/main/assets/examples/js/tables/datatable.js"></script>

        <script src="~/Scripts/sweet-alert2.js"></script>

        <script type="text/javascript">
            function redirectCrearEquipoComputo() {
                window.location.href = "@Url.Action("Crear", "EquipoComputo")";
            }

            function eliminarEquipoComputo(nombreUsuarioComputo) {
                Swal.fire({
                  title: '¿Estás seguro?',
                  text: "¡No podrás revertir los cambios!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Sí, elimínalo'
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Eliminar", "EquipoComputo")",
                            data: {
                                "usuario": nombreUsuarioComputo
                            },
                            beforeSend: function () {
                                onBeginRequest();
                            },
                            success: function (result) {
                                onCompleteRequest();
                                Swal.fire(
                                    '¡Eliminado!',
                                    'El Equipo de cómputo ha sido eliminado.',
                                    'success'
                                );
                                $.ajax({
                                    type: "GET",
                                    url: "@Url.Action("ListaEquiposComputoView", "EquipoComputo", new { Area = ""})",
                                    beforeSend: function () {
                                        onBeginRequest();
                                    },
                                    success: function (result) {
                                        onCompleteRequest();
                                        $("#listadoEquiposComputo").html(result)
                                    }
                                });
                            },
                            error: function (error) {
                                Swal.fire(
                                    '¡Error!',
                                    'No se pudo eliminar el equipo de cómputo, error: ' + error,
                                    'error'
                                );
                                onCompleteRequest();
                            }
                        });
                  }
                })
            }

            function actualizarEstadoHardware(idHardware, estado) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ActualizarEstadoHardware", "EquipoComputo")",
                    data: {
                        "idHardware": idHardware,
                        "estado": estado
                    },
                    beforeSend: function () {
                        onBeginRequest();
                    },
                    success: function (result) {
                        onCompleteRequest();
                        Swal.fire(
                            '¡Actualizado!',
                            'El estado del Equipo de cómputo ha sido actualizado.',
                            'success'
                        );
                        setTimeout(function(){
                            window.location.href = "/EquipoComputo";
                        }, 1100);
                    },
                    error: function (error) {
                        Swal.fire(
                            '¡Error!',
                            'No se pudo actualizar el estado del equipo de cómputo, error: ' + error,
                            'error'
                        );
                        onCompleteRequest();
                    }
                });
            }
        </script>
    }

</body>
</html>


