@model LacingAdmin.Web.Models.ViewModels.EquipoComputoViewModel

@{
    this.Model.contador = 0;
    this.Model.lastUser = "";
}
@if (Model.ListaEquiposComputo != null && Model.ListaEquiposComputo.Count > 0)
{
    <div class="panel">
        <div class="panel-body">
            <table class="table table-hover dataTable table-striped w-full" id="tableEquiposComputo" data-plugin="dataTable">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>ITEM</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>SERIE</th>
                        <th>INVENT.</th>
                        <th>Proces.</th>
                        <th>Veloc.</th>
                        <th>RAM</th>
                        <th>Disco D.</th>
                        <th>T.video</th>
                        <th>Software</th>
                        <th>Hardware</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Ubicación</th>
                        <th>Facultad</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 149px;">ACCIONES</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>N°</th>
                        <th>ITEM</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>SERIE</th>
                        <th>INVENT.</th>
                        <th>Proces.</th>
                        <th>Veloc.</th>
                        <th>RAM</th>
                        <th>Disco D.</th>
                        <th>T.video</th>
                        <th>Software</th>
                        <th>Hardware</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Ubicación</th>
                        <th>Facultad</th>
                    </tr>
                </tfoot>

                <tbody>
                    @foreach (var item in Model.ListaEquiposComputo)
                    {
                        Model.hardwareInList = item;
                        {
                            if (this.Model.lastUser != item.Usuario)
                            {
                                this.Model.contador++;
                                this.Model.lastUser = item.Usuario;
                            }
                        }
                    <tr>
                        <td>@this.Model.contador</td>
                        <td>@item.TipoEquipo</td>
                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.Serie</td>
                        <td>@item.Inventario</td>
                        <td>@item.Procesador</td>
                        <td>@item.Velocidad</td>
                        <td>@item.Ram</td>
                        <td>@item.DiscoDuro</td>
                        <td>@item.TarjetaVideo</td>
                        <td>
                            @if (item.TipoEquipo.Equals("CPU"))
                            {
                                <a onclick="lacing.helpers.ShowModal('ObservacionesSoftwarePopup', '@Url.Action("ObservacionesView", "EquipoComputo", new { Area = "", idHardware = item.IdHardware, tipoEquipo = 1})')" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"><i class="icon wb-eye"></i></a>
                            }
                        </td>
                        <td>
                            <a onclick="lacing.helpers.ShowModal('ObservacionesHardwarePopup', '@Url.Action("ObservacionesView", "EquipoComputo", new { Area = "", idHardware = item.IdHardware, tipoEquipo = 2})')" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"><i class="icon wb-eye"></i></a>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.hardwareInList.Estado, new SelectList(
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Value = "Inoperativo", Text = "Inoperativo"},
                                    new SelectListItem { Value = "Operativo", Text = "Operativo"}
                                }
                           , "Value", "Text"), new { @class = "form-control", @id = "cbEstadosEquipoComputo", @onChange = "actualizarEstadoHardware(" + @item.IdHardware + ", this.value)" })
                        </td>
                        <td>@item.Usuario</td>
                        <td>@item.NombreLaboratorio</td>
                        <td>@item.NombreFacultad</td>
                        <td>
                            <a href="@Url.Action("Editar", "EquipoComputo", new { Area = "", usuario = item.Usuario})" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"><i class="icon wb-edit"></i></a>
                            <a onclick="eliminarEquipoComputo('@item.Usuario')" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row"><i class="icon wb-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            lacing.helpers.UpdateDataTable("tableEquiposComputo");
        });
    </script>
}
else
{
    <div class="alert alert-info alerta" role="alert" style="width:100%; margin: 0 auto; text-align:center; font-size:14px">
        No se obtuvieron registros de equipos de cómputo.
    </div>
}