@model LacingAdmin.Web.Models.ViewModels.ObservacionXHardwareViewModel

@if (Model.ListaObservacionesXHardware != null && Model.ListaObservacionesXHardware.Count > 0)
{
    if (Model.TipoObservacion.Equals("Software"))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>VERSION</th>
                    <th>TIPO</th>
                    <th>FECHA</th>
                    <th>OBSERVACION</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaObservacionesXHardware)
                {
                    <tr>
                        <td>@item.NombreSoftware</td>
                        <td>@item.VersionSoftware</td>
                        <td>@item.TipoSoftware</td>
                        <td>@item.Fecha</td>
                        <td>@item.Observacion</td>
                        <td>
                            <a onclick="agregarObservacion('@item.NombreSoftware', '@item.VersionSoftware', '@item.TipoSoftware')" class="btn btn-sm btn-icon btn-pure btn-default on-default fa-plus-circle"></a>
                            <a onclick="editarObservacionSoftware(@item.IdObservacionXHardware, '@item.Observacion', '@item.NombreSoftware', '@item.VersionSoftware', '@item.TipoSoftware')" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"><i class="icon wb-edit"></i></a>
                            <a onclick="eliminarObservacion(@item.IdObservacionXHardware)" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row"><i class="icon wb-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (Model.TipoObservacion.Equals("Hardware"))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>OBSERVACION</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaObservacionesXHardware)
                {
                    <tr>
                        <td>@item.Fecha</td>
                        <td>@item.Observacion</td>
                        <td>
                            <a onclick="editarObservacionHardware(@item.IdObservacionXHardware, '@item.Observacion')" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"><i class="icon wb-edit"></i></a>
                            <a onclick="eliminarObservacion(@item.IdObservacionXHardware)" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row"><i class="icon wb-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <div class="alert alert-primary center" role="alert" style="width:100%; margin: 0 auto; text-align:center">
        No se obtuvo información de observaciones del hardware.
    </div>
}

<br />

@if (Model.TipoObservacion.Equals("Software"))
{
    <div class="form-horizontal">
        <label class="col-sm-auto control-label" style="font-weight: 500">Datos de la Observacion:</label>
        <div class="form-group">
            <label class="padding-sides-35 control-label">Nombre:</label>
            <div class="padding-sides-35">
                @Html.Editor("txtNombreSoftware",
                       new { htmlAttributes = new { @class = "form-control", @id = "txtNombreSoftware" } })
            </div>
        </div>
        <div class="form-group">
            <label class="padding-sides-35 control-label">Versión:</label>
            <div class="padding-sides-35">
                @Html.Editor("txtVersionSoftware",
                       new { htmlAttributes = new { @class = "form-control", @id = "txtVersionSoftware" } })
            </div>
        </div>
        <div class="form-group">
            <label class="padding-sides-35 control-label">Tipo:</label>
            <div class="padding-sides-35">
                @Html.Editor("txtTipoSoftware",
                       new { htmlAttributes = new { @class = "form-control", @id = "txtTipoSoftware" } })
            </div>
        </div>
        <div class="form-group">
            <label class="padding-sides-35 control-label">Observación:</label>
            <div class="padding-sides-35">
                @Html.Editor("txtObservacionSoftware",
                       new { htmlAttributes = new { @class = "form-control", @id = "txtObservacionSoftware" } })
            </div>
        </div>
        <div class="form-group">
            <div class="padding-sides-35">
                <a id="btnAgregarObservacionSoftware" class="btn btn-success" style="color:white">Agregar</a>
                <a id="btnEditarObservacionSoftware" class="btn btn-success" style="color:white">Editar</a>
            </div>
        </div>
    </div>
}
else if (Model.TipoObservacion.Equals("Hardware"))
{
    <div class="form-horizontal">
        <label class="col-sm-auto control-label" style="font-weight: 500">Observacion:</label>
        <div class="form-group">
            <div class="col-sm-10">
                @Html.Editor("txtObservacionHardware",
                       new { htmlAttributes = new { @class = "form-control", @id = "txtObservacionHardware" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a id="btnAgregarObservacionHardware" class="btn btn-success" style="color:white">Agregar</a>
                <a id="btnEditarObservacionHardware" class="btn btn-success" style="color:white">Editar</a>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    var global = {};

    function agregarObservacion(nombreSoftware, versionSoftware, tipoSoftware) {
        $("#txtNombreSoftware").val(nombreSoftware);
        $("#txtVersionSoftware").val(versionSoftware);
        $("#txtTipoSoftware").val(tipoSoftware);
    }

    $("#btnAgregarObservacionSoftware").on("click", function () {
        lacing.helpers.CloseModal('ObservacionesHardwarePopup');
        lacing.helpers.CloseModal('ObservacionesSoftwarePopup');
        var observacion = {
            "IdHardware": "@Model.ObservacionXHardware.IdHardware",
            "Tipo": "Software",
            "Observacion": $("#txtObservacionSoftware").val(),
            "NombreSoftware": $("#txtNombreSoftware").val(),
            "VersionSoftware": $("#txtVersionSoftware").val(),
            "TipoSoftware": $("#txtTipoSoftware").val()
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("ObservacionesView", "EquipoComputo")",
            data: {
                "observacion": observacion
            },
            beforeSend: function () {
                onBeginRequest();
            },
            success: function (result) {
                onCompleteRequest();
                Swal.fire(
                    '¡Listo!',
                    'La observación ha sido registrada.',
                    'success'
                );
                setTimeout(function () {
                    window.location.href = "/EquipoComputo";
                }, 1100);
            },
            error: function (error) {
                Swal.fire(
                    '¡Error!',
                    'No se pudo registrar la observación',
                    'error'
                );
                onCompleteRequest();
            }
        });
    });

    $("#btnAgregarObservacionHardware").on("click", function () {
        lacing.helpers.CloseModal('ObservacionesHardwarePopup');
        lacing.helpers.CloseModal('ObservacionesSoftwarePopup');
        var observacion = {
            "IdHardware": "@Model.ObservacionXHardware.IdHardware",
            "Tipo": "Hardware",
            "Observacion": $("#txtObservacionHardware").val()
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("ObservacionesView", "EquipoComputo")",
            data: {
                "observacion": observacion
            },
            beforeSend: function () {
                onBeginRequest();
            },
            success: function (result) {
                onCompleteRequest();
                Swal.fire(
                    '¡Listo!',
                    'La observación ha sido registrada.',
                    'success'
                );
                setTimeout(function () {
                    window.location.href = "/EquipoComputo";
                }, 1100);
            },
            error: function (error) {
                Swal.fire(
                    '¡Error!',
                    'No se pudo registrar la observación',
                    'error'
                );
                onCompleteRequest();
            }
        });
    });

    function editarObservacionSoftware(idObservacionXHardware, observacion, nombreSoftware, versionSoftware, tipoSoftware) {
        global.idObservacionEditar = idObservacionXHardware;
        $("#txtObservacionSoftware").val(observacion);
        $("#txtNombreSoftware").val(nombreSoftware);
        $("#txtVersionSoftware").val(versionSoftware);
        $("#txtTipoSoftware").val(tipoSoftware);
    }

    function editarObservacionHardware(idObservacionXHardware, observacion) {
        global.idObservacionEditar = idObservacionXHardware;
        $("#txtObservacionHardware").val(observacion);
    }

    $("#btnEditarObservacionSoftware").on("click", function () {
        lacing.helpers.CloseModal('ObservacionesHardwarePopup');
        lacing.helpers.CloseModal('ObservacionesSoftwarePopup');
        var observacion = {
            "IdObservacionXHardware": global.idObservacionEditar,
            "Observacion": $("#txtObservacionSoftware").val(),
            "NombreSoftware": $("#txtNombreSoftware").val(),
            "VersionSoftware": $("#txtVersionSoftware").val(),
            "TipoSoftware": $("#txtTipoSoftware").val(),
            "Tipo": "Software"
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditarObservacion", "EquipoComputo")",
            data: {
                "observacion": observacion
            },
            beforeSend: function () {
                onBeginRequest();
            },
            success: function (result) {
                onCompleteRequest();
                Swal.fire(
                    '¡Listo!',
                    'La observación ha sido editada.',
                    'success'
                );
                setTimeout(function () {
                    window.location.href = "/EquipoComputo";
                }, 1100);
            },
            error: function (error) {
                Swal.fire(
                    '¡Error!',
                    'No se pudo editar la observación',
                    'error'
                );
                onCompleteRequest();
            }
        });
    });

    $("#btnEditarObservacionHardware").on("click", function () {
        lacing.helpers.CloseModal('ObservacionesHardwarePopup');
        lacing.helpers.CloseModal('ObservacionesSoftwarePopup');
        var observacion = {
            "IdObservacionXHardware": global.idObservacionEditar,
            "Observacion": $("#txtObservacionHardware").val(),
            "Tipo": "Hardware"
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditarObservacion", "EquipoComputo")",
            data: {
                "observacion": observacion
            },
            beforeSend: function () {
                onBeginRequest();
            },
            success: function (result) {
                onCompleteRequest();
                Swal.fire(
                    '¡Listo!',
                    'La observación ha sido editada.',
                    'success'
                );
                setTimeout(function () {
                    window.location.href = "/EquipoComputo";
                }, 1100);
            },
            error: function (error) {
                Swal.fire(
                    '¡Error!',
                    'No se pudo editar la observación',
                    'error'
                );
                onCompleteRequest();
            }
        });
    });

    function eliminarObservacion(idObservacion) {
        lacing.helpers.CloseModal('ObservacionesHardwarePopup');
        lacing.helpers.CloseModal('ObservacionesSoftwarePopup');
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir los cambios!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, elimínalo'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EliminarObservacion", "EquipoComputo")",
                    data: {
                        "idObservacion": idObservacion
                    },
                    beforeSend: function () {
                        onBeginRequest();
                    },
                    success: function (result) {
                        onCompleteRequest();
                        Swal.fire(
                            '¡Eliminado!',
                            'La observación ha sido eliminado.',
                            'success'
                        );
                        setTimeout(function(){
                            window.location.href = "/EquipoComputo";
                        }, 1100);
                        },
                    error: function (error) {
                        Swal.fire(
                            '¡Error!',
                            'No se pudo eliminar la observación, error: ' + error,
                            'error'
                        );
                        onCompleteRequest();
                    }
                });
            }
        })
    }

</script>

