@model LacingAdmin.Web.Areas.Alumnos.Models.AlumnoViewModel

@if (Model.ListaHorariosAlumno != null && Model.ListaHorariosAlumno.Count > 0)
{
    <div class="card-deck">
        <div class="row">
            @foreach (var item in Model.ListaHorariosAlumno)
            {
                <div class="col-xl-4 col-lg-6" style="padding:0px; margin-top:20px;">
                    <div class="card">
                        <img src="~/Content/lacing/alumno/cursos2.png" class="card-img-top" alt="imagen_curso">
                        <div class="card-body">
                            <h5 style="text-align:center" class="card-title">@item.CodigoCurso - @item.NombreCurso</h5>
                            <p class="card-text">Laboratorio: @item.NombreLaboratorio</p>
                            <p class="card-text">Docente: @item.NombreDocente</p>
                            <p class="card-text">Día: @item.DiaNombre</p>
                            <p class="card-text">Horario: @item.HoraInicio -  @item.HoraFin</p>
                            <p class="card-text">Grupo: @item.NumeroGrupo Subgrupo: @item.NumeroSubgrupo</p>
                        </div>
                        <div class="card-footer" style="padding:0px;">
                            <button onclick="marcarAsistenciaAlumno(@item.IdHorario)" class="btn btn-success" style="width:100%; font-weight:bold" @((item.FlagAsistenciaPendiente == 0) ? "disabled" : "")>MARCAR ASISTENCIA</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <br />
}
else
{
    <p>No se encontraron horarios registrados.</p>
}
